@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

.planet {
    color: transparent;
    transform: scale(100%);
    transition: color ease-in 1s, transform ease-out 1s;;
}

.planet:hover {
    color: lightgray;
    transform: scale(105%);
    transition: color ease-in 1s, transform ease-out 1s;;
}